.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url(/backgroundLanding.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav{
  padding-inline: 1.5rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2{
  font-size: 1.8rem ;
  font-weight: 550;
}

.landingPageContainer nav .navList{
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 0rem;
  padding-top: 5vh;
  align-items: center;
  
}

.landingPageContent{
  width: 50%;
  height: 100%;
}

.landingPageContent h1{
  font-size: 3rem;
}
.landingPageContent h3{
  font-size: 2rem;
  font-weight: 400;
}

.landingPageContent button{
  
  padding: 0.8rem;
  font-size: 1.6rem;
  background-color: #FF9839;
  color: white;
  font-weight: 400;
  border-radius:0.6rem ;
  cursor: pointer;
}

.landingPageImage{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landingMainContainer img{
  height: 100%;
  width: 80%;
  margin-right: 0;
  padding-left: 5rem;
}